MyCity/API/bin
MyCity/API/obj
Entities/API/obj
Entities/API/bin
MyCity/.vs/MyCity
MyCity/.vs/ProjectEvaluation
MyCity/API/bin/Debug/net7.0
MyCity/API/obj/Debug/net7.0
MyCity/Entities/bin/Debug/net7.0
MyCity/Entities/obj/Debug/net7.0
MyCity/MAUI/obj/Debug
MyCity/MAUI/obj/Debug
.vs
MyCity/.vs
MyCity/MAUI/bin
MyCity/MAUI/obj
MyCity/MAUI_Library/bin
MyCity/MAUI_Library/obj
MyCity/DesktopUI/bin
MyCity/DesktopUI/obj
MyCity/DesktopUI/bin/Debug
MyCity/DesktopUI/obj/Debug